@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@model Post

<div class="card card-post mb-5">

    <div class="card-body">
        <h3 class="card-title">
            <a asp-controller="Home" asp-action="Post" asp-route-id="@Model.PostId">@Model.Title</a>
        </h3>
        <p class="card-subtitle text-muted">@Model.CreatedDate by @User.Identity.Name</p><br>
        <p class="card-text">@Model.Content</p>
    </div>
    <div class="card-body text-muted font-italic">
        Last updated: @if (Model.LastUpdatedDate != null)
                      {
                         <span>@Model.LastUpdatedDate</span>
                      }
                      else
                      {
                          <span>Never</span>
                      }
    </div>
    @if (SignInManager.IsSignedIn(User))
    {
        <div class="card-footer">
            <a class="btn btn-lg" asp-controller="Panel" asp-action="EditPost" asp-route-id="@Model.PostId">
                <span class="fa fa-edit"></span>
            </a>
            <a class="btn btn-lg" asp-controller="Panel" asp-action="RemovePost" asp-route-id="@Model.PostId">
                <span class="fa fa-trash"></span>
            </a>
        </div>
    }

</div>